.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.wrap {
	width: 1130px;
	margin: 0 auto;
}

@media only screen and (max-width:1130px) {
	.wrap {
		width: 96.22%;
	}
}